/* The root styles */
:root{
    --primary-color:#3AAFB9;
    --secondary-color:#97C8EB;
    --text-color:#001011;
}

/* The general styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* Body styles */
body{
    font-family: cursive,Arial, Helvetica, sans-serif;
    color: var(--text-color);
}
/* Header styles */
.navbar{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    border-bottom: 3px var(--secondary-color) solid;
}

.logo img{
    height: 100px;
    width: 100px;
    margin-left: 2rem;
    border-radius: 50%;
}

.nav > ul{
    display: flex;
    margin-top: 2rem;
    margin-right: 3rem;
}

.nav > ul li{
    list-style: none;
    margin: 5px 15px;
}

.nav > ul li:hover{
    transition: all 500ms  ease-in-out;
    transform: scale(1.3);
}

.nav > ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
}


/* Main part the showcase */

.showcase{
    background-image: url(showcase.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow:inset 1.5rem 1.5rem 10rem black,
    inset -2rem -2rem 5rem black;
    position: relative;
}
.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.showcase > h1{
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 5rem;
    z-index: 9999999999;
    animation: showcase-header 2s forwards ease-in;
    transform: translatey(-1200px);
}
@keyframes showcase-header{
    to{
        transform: translateX(0);
    }
}

.showcase > p{
    position: absolute;
    top: 50%;
    left: 33%;
    font-size: 2rem;
    z-index: 99999999;
    animation: showcase-paragraph 2s forwards ease-in-out;
    transform: translatey(1200px);
}
@keyframes showcase-paragraph{
    to{
        transform: translateX(0);
    }
}

/* About section styles */

.about{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
}

.about > h2{
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%;
    margin: 0 auto;
    color: var(--text-color);
}
.about > h2:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.3);
    text-shadow: 1rem 1rem 2rem black;
}

.about > p{
    font-size: 1.3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

.about .read-more{
    height: 3rem;
    width: 9rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    border-radius: 5%;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    animation: animate;
}
.about .read-more:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: var(--secondary-color);
    cursor: pointer;
}

/* Services section styles */

.services{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 5%;
    padding-left: 3.5%;
    padding-right: 5%;
    padding-top: 7%;
    text-align:center;
}

.services > div{
    height: 500px;
    box-shadow: 0.2rem 0.2rem 2rem black;

}
.services > div:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.1);
    border-radius: 10%;
}

.services img{
    height: 350px;
    width: 260px;
    border-radius: 10%;
}

/* Product section */
.products{
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
}
.product-top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    padding: 20px 10px;
    text-align: center;
}
.product-top > div,.product-bottom > div{
    border-radius: 5%;
}
.product-top > div:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    box-shadow: 1.5rem 1.5rem 10rem black;
}

.product-bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    padding: 20px 10px;
    text-align: center;
}
.product-bottom > div:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    box-shadow: 1.5rem 1.5rem 10rem black;

}

.product-image{
    height: 260px;
    width: 260px;
    border-radius: 10%;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 100%;
}

.footer .footer-top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .contact-infromation{
    line-height: 2rem;
    font-size: 1.2rem;
}

.footer .socialMedia{
    font-size: 2rem;
}
.footer .socialMedia a{
    padding: 10px 10px;
}
.footer .socialMedia a i:hover {
    color: var(--primary-color);
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.3);
}

.footer > p{
    display: inline-block;
}
